* {
  margin: 0;
  padding: 0;
  font-family:
    Roboto,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
}

.sidebar {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-auto-rows: min-content;
  row-gap: 4rem;
  grid-row: 1 / 3;
  align-items: center;
  padding-left: 10px;
  padding-top: 30px;
  background-color: #1992d4;
}

.sidebar ul {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 2;
  row-gap: 1.7rem;
}

.sidebar li {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 2;
  align-items: center;
}

.sidebar a {
  text-decoration: none;
  width: min-content;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 700;
}

.heading {
  width: min-content;
  font-weight: 650;
  font-size: 2rem;
  color: #ffffff;
}

.icon,
.icon-small {
  justify-self: center;
}

ul,
li {
  list-style: none;
}

.header {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1;
  border: 1px solid black;
  height: 150px;
}

.main {
  display: grid;
  grid-column: 2 / 3;
  border: 1px solid black;
}
